/* Colors */
:root {
    --PrimaryColor: #15A3EF;
    --HoverColor: #66C3F4;
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);

}

.home {
    height: 70vh;
    background: url(../../Assets/image16.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .secContainer {
        .homeText {
            text-align: center;

            .title {
                color: black;
                font-size: 3rem;
                font-weight: 700;
                line-height: 3.5rem;

            }

            .subTitle {
                color: black;
                opacity: .9;
                font-size: 20px;
                font-weight: 400;
                padding: 1rem 0;
                max-width: 100%;
                text-align: center;
                margin: auto;
            }

            .btn {
                padding: .6rem 1.5rem;
            }
        }
    }

}